*{
    /* background-color: aqua; */
}
h3{
    border-left: 2px solid ;
    height: 150px;
    font-size:2rem;
    font-weight: 700;
    color: aqua;
}
input{
border: none;
border-bottom: 2px solid white;
}


.container-fluid{
    height: 80vh;
    /* border: 2px solid red; */
/* background-color: black !important; */
}
.col-md-4   
{
    background-color:black ;
}

.container-fluid{
    background-color: aqua;
}

body{
    background-color: aqua;
}
